<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg  navigation">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/logo.png" id="logon" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {{!-- <ul class="navbar-nav ml-auto main-nav ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Pages <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="category.html">Category</a>
                                    <a class="dropdown-item" href="single.html">Single Page</a>
                                    <a class="dropdown-item" href="store-single.html">Store Single</a>
                                    <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                                    <a class="dropdown-item" href="user-profile.html">User Profile</a>
                                    <a class="dropdown-item" href="submit-coupon.html">Submit Coupon</a>
                                    <a class="dropdown-item" href="blog.html">Blog</a>
                                    <a class="dropdown-item" href="single-blog.html">Single Post</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Listing <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul> --}}
                        <ul class="navbar-nav ml-auto mt-10">
                            <li class="nav-item">
                                <a class="nav-link login-button" href="/"><i class="fa fa-home"></i> &nbsp; Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link add-button" href="/loginpage"><i class="fa fa-sign-in"></i>
                                    login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block bab  items-center">
                    <form action="/signup" method="post">
                        <input type="text" name="username" id="" placeholder="Username">
                        <input type="email" name="email" id="" placeholder="email">

                        <br>
                        <input type="password" name="pwrd" id="" placeholder="enter password">
                        <input type="password" name="cpwrd" id="" placeholder="confirm password">
                        {{!-- <br> --}}
                        <input type="date" name="birth" id="" placeholder="Date of birth">
                        <br>
                        <br>

                        <button class="navbar-toggler" type="submit" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">signup</span>
                        </button>

                    </form>


                </div>
                <!-- Advance Search -->
                {{!-- <div class="advance-search">
                    <form action="#">
                        <div class="row">
                            <!-- Store Search -->
                            <div class="col-lg-6 col-md-12">
                                <div class="block d-flex">
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search"
                                        placeholder="Search for store">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="block d-flex">
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search"
                                        placeholder="Search for store">
                                    <!-- Search Button -->
                                    <button class="btn btn-main">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div> --}}

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>