<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/reselabackend/imgv/logo.png" type="image/x-icon">
    <title>resella verification page</title>
</head>
<style>
    body{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        text-transform: capitalize;
    }
    h1{
        padding: 0 2%;
        text-transform: capitalize;
    }

</style>
<body>

    <div>
        <img src="/reselabackend/imgv/logo.png" alt="">
    </div>

    <h1>resella verification page</h1>

    <div>
        <span>Hi {{name}} </span>
        <span><a href={{}}>verify</a> your account</span>
    </div>


    
    
</body>
</html>